venv/
env/

# Pipenv
Pipfile.lock

# Poetry
pyproject.toml
poetry.lock

# board_app migrations
board_app/migrations/
translate_project/board_app/migrations/
# users_app_ migrations
users_app/migrations/
translate_project/users_app/migrations/