# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django-related
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Visual Studio Code
.vscode/

# PyCharm
.idea/

# Sublime Text
.sublime-project
.sublime-workspace

# macOS
.DS_Store

# Thumbnails
_Thumbnails/

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
venv/
env/

# Pipenv
Pipfile.lock

# Poetry
pyproject.toml
poetry.lock

# board_app migrations
board_app/migrations/
translate_project/board_app/migrations/
# users_app_ migrations
users_app/migrations/
translate_project/users_app/migrations/