{% extends 'base.html' %}
{% block content %}
        <div class ='container-fluid'>
                <div class="row pt-4">
                        <div class="col-md-7 mx-auto" id="voca_list_div">
                                <h3 class="inline-heading" style="font-weight: bold">{{user.username}} 단어장</h3>
                                        <form id="language-select-form" method="get" action="#">
                                                <label for="language-select">언어 선택:</label>
                                                <select id="language-select" name="language">
                                                        <option value="all">모든 언어</option>
                                                        <option value="english">영어</option>
                                                        <option value="japanese">일본어</option>
                                                        <option value="chinese">중국어</option>
                                                </select>
                                                <button type="submit" class="btn btn-primary">적용</button>
                                        </form>
                                <div class="button_div text-end">
                                        <a href="{% url 'vocabulary_test' %}" class="btn btn-primary">테스트 보기</a>
                                        <a href="{% url 'vocabulary_insert' %}" class="btn btn-primary">단어 등록</a>
                                        <a href="{% url 'upload_excel' %}" class="btn btn-primary">파일로 등록</a>
                                        <a href="{% url 'download_excel' %}" class="btn btn-primary">엑셀로 내려받기</a>                            
                                </div>
                                <div id = "data-container">
                                        <table id="voca_list">
                                                <tr>
                                                        <th>단어</th>
                                                        <th>뜻</th>
                                                        <!-- <th>제어</th> -->
                                                        <th>언어</th>
                                                        <th>단어 수정</th>
                                                        <th>학습완료</th>
                                                        <th>삭제</th>
                                                </tr>
                                                {% for word in words %}
                                                <tr>
                                                        <td>{{ word.vocabulary_name }}</td> 
                                                        <td class="hidden-meaning">
                                                                <span style="display: none;">{{ word.vocabulary_meaning }}</span>
                                                                <button class="btn btn-primary toggle-meaning-btn" onclick="toggleMeaning(this)">보기</button>
                                                        </td>
                                                        <!-- <td class="hidden-meaning"><span style="display: none;">{{ word.vocabulary_meaning }}</span><button style="display: none;">btn</button></td>
                                                        <td><button class="toggle-meaning-btn" onclick="toggleMeaning(this)">보기</button></td> -->
                                                        <td>{{ word.language_id }}</td>
                                                        <td><a href="{% url 'vocabulary_update' word.vocabulary_id %}">
                                                                <button class="btn btn-primary">단어 수정</button></a></td>
                                                        <td><a href="{% url 'vocabulary_train' word.vocabulary_id %}"
                                                                onclick="return confirm('이 단어의 학습을 완료합니까 ?')">
                                                                <button class="btn btn-primary">학습완료</button></a></td>
                                                        <td><a href="{% url 'vocabulary_delete' word.vocabulary_id %}"
                                                                onclick="return confirm('단어를 삭제하시겠습니까 ?')">
                                                                <button class="btn btn-primary">삭제</button></a></td>
                                                </tr>
                                                {% endfor %}
                                        </table>
                                </div>
                                <div class="pagination" id="pagination">
                                        <nav class="mx-auto mt-5" aria-label="...">
                                                <ul class="pagination">
                                                        {% if words.has_previous %}
                                                        <li class="page-item">
                                                                <a class="page-link" href="?page=1">처음으로</a>
                                                        </li>
                                                        <li class="page-item">
                                                                <a class="page-link" href="?page={{ words.previous_page_number }}">이전</a>
                                                        </li>
                                                        {% endif %}
                                                        {% for page in pag %}
                                                        {% if page == '...' %}
                                                        <li class="page-item">
                                                                <a class="page-link to-another-page" href="#">...</a>
                                                        </li>
                                                        {% elif page == words.number %}
                                                        <li class="page-item">
                                                                <a class="page-link fw-bold text-decoration-underline" href="?page={{ page }}">{{ page }}</a>
                                                        </li>
                                                        {% else %}
                                                        <li class="page-item">
                                                                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% if words.has_next %}
                                                        <li class="page-item">
                                                                <a class="page-link" href="?page={{ words.next_page_number }}">다음</a>
                                                        </li>
                                                        <li class="page-item">
                                                                <a class="page-link" href="?page={{ words.paginator.num_pages }}">마지막</a>
                                                        </li>
                                                        {% endif %}
                                                </ul>
                                                <p id="num-of-pages" hidden>{{ words.paginator.num_pages }}</p>
                                        </nav>
                                </div>
                                {% if error_message %}
                                        <div class="alert alert-danger">
                                        {{ error_message }}
                                        </div>
                                {% endif %}
                        </div>
                    </div>
        </div>
{% endblock content %}
