{% extends 'base.html' %}
{% block content %}
        <div id ='container-fluid'>
                <div class="row pt-4">
                        <div class="col-md-7 mx-auto" id="voca_list_div">
                                <h2 class="inline-heading">단어 테스트</h2>
                                <a href="{% url 'result_list' %}"><button class="btn btn-primary">성적 확인</button></a>
                                <div id = "data-container">
                                        <form id="quiz-form" method="POST">
                                                {% csrf_token %}
                                                <table id="voca_list">
                                                        <tr>
                                                                <th>단어</th>
                                                                <th>뜻</th>
                                                        </tr>
                                                        {% for word in words %}
                                                        <tr>
                                                                <td>{{word.vocabulary_name}}</td>
                                                                <td>
                                                                        <input type="text" class="user-answer" name="user_answers[]" data-vocabulary_id="{{word.vocabulary_id}}">
                                                                        <span class="result"></span>
                                                                </td>

                                                        </tr>
                                                        {% endfor %}
                                                </table>
                                                <div class="button-container mt-3" style="text-align: right;">
                                                        <button type="submit" class="btn btn-primary text-end" id="showResultButton">제출</button>
                                                </div>
                                        </form>
                                        <div id="result-container" style="text-align: center;"></div>
                                </div>
                        </div>
                    </div>
        </div>
{% endblock content %}