{% extends 'base.html' %}
{% block content %}
        <div id ='container'>
                <div class="row">
                        <div class="col-sm-6 offset-sm-3">
                            <h2>신규 단어 등록</h2>

                            <form method="POST"  id="voca-form">
                                {% csrf_token %}
                                <table id="form_tbl">
                                    {{ form }}
                                </table><br><br>
                                <button id="form_btn" type="submit">등록</button>
                            </form>
                        </div>
                    </div>
        </div>
        <script>
            $(document).ready(function(){
                let means = $("input[name='vocabulary_name']").attr("value").split(", ");
                if (means.length != 1){
                    string = "<select class='form-select' style='width: 50%;'>";
                    for (i=0; i<means.length; i++){
                        string += "<option name='vn_select' value='" + means[i] + "'>" + means[i] + "</option>"
                    };
                    string += "</select>"
                    $("#form_tbl > tbody > tr:first-child > td").append(string)
                };
                $(document).on("change", "#form_tbl > tbody > tr:first-child > td", function(){
                    $(this).find('input').attr("value", $(this).find("option:selected").text())
                });
            });
        </script>
{% endblock content %}
