{% extends 'base.html' %}
{% block content %}
    <div class ='container-xl'>
        <div class="row pt-4">
            <div class="col-md-11 col-lg-8 col-xl-7 col-xxl-6 mx-auto">
                <h2>신규 단어 등록</h2>
                <form method="POST" id="voca-form">
                    {% csrf_token %}
                    <div id="form_div" class="container">
                        <div class="row align-items-start">
                            <div class="col-4 col-sm-3 col-md-2 text-end my-auto fw-bold">
                                {{ form.vocabulary_name.label }}
                            </div>
                            <div class="col-8 col-sm-7 col-md-4">
                                {{ form.vocabulary_name }}
                            </div>
                        </div>
                        <br>
                        <div class="row align-items-start">
                            <div class="col-4 col-sm-3 col-md-2 text-end my-auto fw-bold">
                                {{ form.vocabulary_meaning.label }}
                            </div>
                            <div class="col-8 col-sm-9 col-md-10">
                                {{ form.vocabulary_meaning }}
                            </div>
                        </div>
                        <br>
                        <div class="row align-items-start">
                            <div class="col-4 col-sm-3 col-md-2 text-end my-auto fw-bold">
                                {{ form.vocabulary_level.label }}
                            </div>
                            <div class="col-4 col-sm-3">
                                {{ form.vocabulary_level }}
                            </div>
                        </div>
                        <br>
                        <div class="row align-items-start">
                            <div class="col-4 col-sm-3 col-md-2 text-end my-auto fw-bold">
                                {{ form.language_id.label }}
                            </div>
                            <div class="col-6 col-sm-4">
                                {{ form.language_id }}
                            </div>
                        </div>
                        {% if is_from_search %}
                        <p id="is_from_search" hidden>y</p>
                        {% endif %}
                    </div><br><br>
                <button id="form_btn" type="submit" class="btn btn-primary">등록</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            let means_input = $("input[name='vocabulary_name']").attr("value");
            if (means_input != undefined){
                let means = means_input.split(", ")
                $("input[name='vocabulary_name']").attr("value", means[0]);
                if (means.length != 1){
                    string = "<div class='col-4 col-sm-3 col-md-2 text-end my-auto fw-bold'>선택 \
                                </div><div class='col-8 col-sm-7 col-md-4'><select class='form-select'>";
                    for (i=0; i<means.length; i++){
                        string += "<option name='vn_select' value='" + means[i] + "'>" + means[i] + "</option>"
                    };
                    string += "</select></div>"
                    $("#form_div > div:first-child").append(string)
                };
            };
            let is_from_search = $("#is_from_search").text();
            if (is_from_search == "y"){
                $("#id_language_id").prop("disabled", true)
            }
            $(document).on("change", "#form_div > div:first-child", function(){
                $(this).find('input').attr("value", $(this).find("option:selected").text())
            });
        });
    </script>
{% endblock content %}
