{% extends 'base.html' %}

{% block content %}
<header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">000에 오신 것을 <br> 환영합니다~</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <form id="index_search" method="post">
                        {% csrf_token %}
                        <input type="text" class="form-control" name="query" placeholder="단어를 검색하세요~ (영어, 일본어, 중국어가 출력됩니다.)" aria-label="Recipient's username" aria-describedby="basic-addon2">                    
                        <br>
                        <div class="input-group-append">
                            <a href="#about"><button type="submit" class="btn btn-primary btn-xl" type="button">검색</button></a>
                        </div>
                    </form>   
                </div>
            </div>
        </div>
    </header>
     <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div id="result_box" class="col-lg-8 text-center">
                    {% include "translate_app/result.html" %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
