{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> 상황극 </title>
        <script type="module"src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% block extra-css %}{% endblock %}
    </head> 
    <body>
        <div>
        {% include "nvbar.html" %}
        </div>
        <div><br><br><br><br></div>
   
        <div class="container pt-4 pb-4">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="{% url 'role_playing_room_list' %}"
                   class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <span class="fs-4">
                        <blockquote class="blockquote">
                            <h2>Roleplay Game!</h2> <br>
                            <footer class="blockquote-footer">ChatGPT와의 상황극을 통해 배운 단어들을 적용해봅시다! </footer>
                        </blockquote>
                    </span>
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="{% url 'role_playing_room_new' %}" class="nav-link active">새 상황 만들기</a>
                    </li>
                </ul>
            </header>
        </div>
        <div class="container">
            {% bootstrap_messages %}

            {% block content %}{% endblock %}

           

            {% block script %}{% endblock %}
        </div>
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md text-center">
                    <small class="d-block mb-3 text-muted">&copy; 2023.번역해조</small>
                </div>
            </div>
        </footer>
    </body>
</html>