{% extends "roleplay_game_app/base.html" %}

{% block extra-css %}
<style>
    #chat-message-list {
        padding: 0;
        list-style: none;
    }
    .chat-message .message {
        background-color: #3b3b3d;
        color: #e1e1e1;
        border-radius: 1.2em;
        padding: 0.4em;
        margin: 0.4em 0;
        display: inline-block;
        white-space: pre-wrap;
    }

    .chat-message.me {
        text-align: right;
    }
    .chat-message.me .message {
        background-color: #1f8cff;
        color: #fff;
        text-align: left;
    }
    .chat-message .say{
        display: inline-block;
        font-size: .8em;
        margin-top: -0.4em;
        margin-left: 0.2em;
        cursor: pointer;
    }
    .chat-message .stopsay{
        display: inline-block;
        font-size: .8em;
        margin-top: -0.4em;
        margin-left: 0.2em;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    [{{ roleplayingroom.get_language_display }}
                    {{ roleplayingroom.get_level_display }}]
                    {{ roleplayingroom.situation }}
                    ({{ roleplayingroom.helper_role }}(챗봇) 와 {{ roleplayingroom.my_role }}(나)의 대화)
                </div>
                <div class="card-body">
                    <ul id="chat-message-list">
                        {# FIXME: 샘플 채팅 메세지 #}
                       <li class="chat-message">
                            <span class="message">주어진 상황과 역할에 맞게 대화해보세요! </span>
                        </li>
                        <li class="chat-message">
                            <span class="message">도우미의 말 의미가 궁금할 때는 : "한국어로 말해줘" </span>
                        </li>
                        <li class="chat-message">
                            <span class="message">여러분의 답변에 문법적 오류가 있으면 도우미가 교정해드립니다! </span>
                        </li>
                         {% if roleplayingroom.language == 'en-US' %} 
                        <li class="chat-message">
                            <span class="message">Let's start the conversation!</span>
                        </li>
                        <li class="chat-message me">
                            <span class="message">Hi Nice to meet you!</span>
                        </li>
                        {% elif roleplayingroom.language == 'ja-JP' %}
                        <li class="chat-message">
                            <span class="message">会話を始めましょう！</span>
                        </li>
                        <li class="chat-message me">
                            <span class="message">こんにちは。</span>
                        </li>
                        {% elif roleplayingroom.language == 'zh-CN' %}
                        <li class="chat-message">
                            <span class="message">让我们开始对话吧</span>
                        </li>
                        <li class="chat-message me">
                            <span class="message">你好</span>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="card-footer">
                    {% comment %} <div class="d-grid gap-2 mb-2">
                        <button class="btn btn-primary" id="auto-play-button">
                            도우미의 말 자동 읽어주기
                        </button>
                    </div> {% endcomment %}
                    <div class="d-flex gap-2">
                        <!-- 도우미의 말 자동 읽어주기 -->
                        <button class="btn" data-bs-toggle="button" id="auto-play-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-megaphone" viewBox="0 0 16 16">
                                <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975 1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"/>
                            </svg>
                        </button>        
                        <select id="voice-list" class="form-select mb-2"> 
                            <!-- <option value="" disabled selected>읽어줄 목소리 선택</option> -->
                        </select>
                    </div>
                    <div class="d-flex gap-2">
                        <button class="btn btn-secondary" id="recommend-button">추천받기</button>
                        <form id="message-form" class="d-flex gap-1 flex-grow-1">
                            <input type="text"
                                   name="message"
                                   placeholder="메시지를 입력하세요."
                                   class="form-control flex-grow-1" />
                        </form>
                 
                            <!-- <ion-icon name="trash-outline"></ion-icon> -->
                            <button class="btn btn-danger" id="record">
                                <svg id = 'micoff' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic-mute" viewBox="0 0 16 16">
                                    <path d="M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4.02 4.02 0 0 0 12 8V7a.5.5 0 0 1 1 0v1zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a4.973 4.973 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4zm3-9v4.879l-1-1V3a2 2 0 0 0-3.997-.118l-.845-.845A3.001 3.001 0 0 1 11 3z"/>
                                    <path d="m9.486 10.607-.748-.748A2 2 0 0 1 6 8v-.878l-1-1V8a3 3 0 0 0 4.486 2.607zm-7.84-9.253 12 12 .708-.708-12-12-.708.708z"/>
                                  </svg>
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3">
        <a href="{% url 'role_playing_room_edit' roleplayingroom.pk %}"
           class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
        </a>
        <a href="{% url 'role_playing_room_delete' roleplayingroom.pk %}"
           class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
          </svg>
        </a>
        <button class="btn btn-secondary" id="download"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1h-2z"/>
            <path fill-rule="evenodd" d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
          </svg>
        </button>
    </div>
</div>
{% endblock %}

{% block script %}

{{ roleplayingroom.pk|json_script:"room-pk" }}
{{ roleplayingroom.language|json_script:"room-language" }}


<script>
    // 대화창 화면에 대화 하나씩 추가하는 함수
    function addMessage(message, isMe) {
        const messageList = document.getElementById("chat-message-list");
        const messageElement = document.createElement("li");
        messageElement.className = "chat-message" + (isMe ? " me" : "");
        // 대화 메세지
        // 대화 메세지 읽어주기 기능
        messageElement.innerHTML = `
        <span class="message">${message}</span>
        <span class="say">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-megaphone" viewBox="0 0 16 16"><path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975 1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"/></svg>
        </span>   
        <span class="stopsay">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stop-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3z"/></svg>
        </span> 
        `;
        messageList.appendChild(messageElement);
        messageList.scrollTop = messageList.scrollHeight;
        // 읽어주기 기능
        messageElement.querySelector(".say").addEventListener("click", ()=>{
            sayMessage(message);
        });
        // 읽어주기 stop 기능
        messageElement.querySelector(".stopsay").addEventListener("click", ()=>{
            window.speechSynthesis.cancel();  // 멈춤
        });

    }
    // 읽어주기 함수
    function sayMessage(message){
        const voiceListSelect = document.querySelector("#voice-list");
        const option = voiceListSelect.options[voiceListSelect.selectedIndex];
        const voiceName = option.value;
        const voice = window.speechSynthesis.getVoices()
            .find(voice => voice.name === voiceName);
        const utterance = new SpeechSynthesisUtterance(message);
        utterance.voice = voice;
        utterance.lang = voice.lang;

        // 발화 할수 없는 에러 발생시
        // 이거하면 멈춤기능을 못씀
        //utterance.addEventListener("error", (e)=>{
        //    alert(`error : ${e.error}`);
        //});
        window.speechSynthesis.speak(utterance);  // 읽어주기
    }

    // 대화내역 다운로드 함수
    function download() {
        const allTexts = [];
        const meCheck = document.querySelectorAll("#chat-message-list li");
        const allMessages = document.querySelectorAll("span.message");
        allTexts.push('[ 상황극으로 언어를 학습해봅시다! ]\n');
        // 앞에 설명 부분은 빼고
        for (let i=3; i<allMessages.length; i++){
            if (meCheck[i].className == "chat-message"){
                text = '도우미 : ' + allMessages[i].innerText;
            } else {
                text = '나 : '+ allMessages[i].innerText;
            }
            allTexts.push(text);
        }
        downloadText = allTexts.join('\n');
        console.log(downloadText);
        const filename = "roleplay.txt";
        const element = document.createElement("a");
        element.setAttribute(
            "href",
            "data:text/plain;charset=utf-8," + encodeURIComponent(downloadText)
        );
        element.setAttribute("download", filename);
        element.style.display = "none";
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);

    }
    // 글자수 넘으면 바이미 커피로 넘어가도록
function purchase() { 
    // location.replace("https://www.buymeacoffee.com/translateme"); 
    alert("유료 결제 창으로 넘어갑니다.");
} 


// onload되면 바로 실행되는 부분
(function() {
    const room_pk = document.querySelector("#room-pk").textContent;
    const room_language = JSON.parse(document.querySelector('#room-language').textContent);
    const ws = new WebSocket(`ws://${window.location.host}/ws/roleplay/${room_pk}/`);
    let is_auto_play = false;


    // 🔥유료회원으로 넘어가기 위함 
    var countText = 0; // 🔥토큰수 세기
    let maxToken;  // 🔥언어 별로 최대 무료 토큰

    if (room_language == 'en-US'){
        maxToken = 1000;   // 영어 : 약 4~5철자 1토큰 - 실제 배포시 4000토큰 무료이므로 설정 변경
    } else if (room_language == 'ja-JP'){
        maxToken = 100;  // 일본어 : 약 1글자 1토큰 테스트용
    } else {
        maxToken = 100;  // 중국어 : 약 0.4글자 1토큰
    }



    // 웹소켓에서 발생하는 4가지 이벤트 핸들러 (open/ close/ error/message)
    ws.onopen = function(e) { console.log("장고 채널스 서버와 웹소켓 연결되었습니다."); };
    ws.onclose = function(e) { 
        console.log('장고 채널스 서버와 웹소켓 연결이 끊어졌습니다.'); 
        alert("장고 채널스 서버와 웹소켓 연결이 끊어졌습니다."); 
    }; 
    ws.onerror = function(e) { console.error("장고 채널스 서버와의 웹소켓 연결 중에 오류가 발생했습니다.", e); };
    
    // 서버로부터 웹소켓 메시지를 받았을 때 호출되는 함수.
    ws.onmessage = function(e) {
        console.group("[onmessage]");
        // console.log(typeof e.data);
        // console.log(e.data);

        const message_obj = JSON.parse(e.data);
        // 도우미의 말 화면에 추가
        if ( message_obj.type === "assistant-message" ) {
            const { message } = message_obj;
            console.log("assistant-message:", message); 
            // 채팅 UI 에 메세지 추가하는 코드
            addMessage(message, false);
            // 🔥유료
            countText += message.length;
            // 🔥바이미 커피로 넘어가기
            if (countText > maxToken) {
                console.log('결제창');
                purchase();
            }

            // 자동 음성 재생 기능 (버튼 눌러야지 발동)
            if(is_auto_play){
                sayMessage(message);
            }
        }
        // 추천 메세지 화면에 추가
        else if ( message_obj.type === "recommended-message" ){
            const {message} = message_obj;
            console.log("recommend-message: ", message);  
            document.querySelector("#message-form [name='message']").value = message;  // 띄어쓰기 주의....안하면 안뜬다.
            recommendButton.disabled = false;
        }
        // 에러났을때
        else if ( message_obj.type === "openai-error" ) {
            const { message } = message_obj;
            alert(`Error: ${message}`);
        }
        else {
            console.error("알 수 없는 메시지 타입입니다.", message_obj);
        }
        console.groupEnd();
    };

    // 서버로 메세지 요청 보내기
    const messageForm = document.getElementById("message-form");
    messageForm.onsubmit = function(e) {
        e.preventDefault();
        const message = e.target.message.value.trim();
        if(message.length > 0) {
            // 서버로 웹소켓 메시지를 전송하는 코드.
            //  서버 단에서 "전달받은 문자열"을 JSON 디코딩하므로
            //  클라이언트 단에서 JSON 인코딩한 문자열을 웹소켓으로 전달
            addMessage(message, true);
            // 🔥유료
            countText += message.length;
            // 🔥바이미 커피로 넘어가기
            if (countText > maxToken) {
                console.log('결제창');
                purchase();
            }
            ws.send(JSON.stringify({ type: "user-message", message: message }));
            e.target.reset();
        }
    };

    // 서버(웹소켓)로 추천 요청 보내기
    const recommendButton = document.querySelector("#recommend-button");
    recommendButton.addEventListener("click", () => {
        recommendButton.disabled = true;
        ws.send(JSON.stringify({type: "request-recommend-message"})); 
    });

    // 🔥서버로 동의어 요청 보내기
    // const synonymButton = document.querySelector("#synonym-button");
    // recommendButton.addEventListener("click", () => {
    //     recommendButton.disabled = true;
    //     ws.send(JSON.stringify({type: "request-synonym-message"})); 
    // });

    // 자동재생 기능 버튼 눌렀을 때
    // 자동 재생 기능 true로 변경
    const autoPlayButton = document.querySelector("#auto-play-button");
    autoPlayButton.addEventListener("click", ()=>{
        is_auto_play = true;
        autoPlayButton.remove();
    });


    // 페이지 처음 로드 되었을 때 사용 가능한 음성 로드되어야함 -> voiceschanged 이벤트 기다림
    // safari 동작 안됨
    const synth = window.speechSynthesis;

    synth.onvoiceschanged = () => {
        const voices = synth.getVoices();  // getvoices 메소드 : 사용 가능한 모든 음성 가져오기

        voices.forEach(({name, lang}) => {
            if (lang.toLowerCase() === room_language.toLowerCase()){
                const option = document.createElement("option");
                option.value = name;
                option.textContent = name;
                option.selected = true;  // 디폴트로 마지막 음성 선택
                document.querySelector("#voice-list").appendChild(option);
            }
        })
    }
    // 음성 인식 기능
    // 채팅방 설정 언어로 음성을 인식해서 텍스트로 변환 후
    // 내 채팅으로 추가한다.
     // 🔥record button예쁜 버젼 테스트
    let recording = false;
    const recordBtn = document.getElementById("record");


    if(!("webkitSpeechRecognition" in window)){
        alert("마이크 기능은 크롬 브라우저에서만 지원됩니다.");
    }else{
        try{
            const speech = new webkitSpeechRecognition;
            speech.lang = room_language;  // room_language로 대체

            // start 눌렀을때
            recordBtn.addEventListener("click", () => {
                if (!recording) {
                    speech.start();
                    console.log('음성인식 시작');
                    recording = true;

                    // 녹음중 아이콘으로 바꾸기
                    document.getElementById("micoff").style.display = 'none';

                    document.getElementById("record").innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
                                <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
                                <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
                            </svg>`;
                } else {
                // stop 눌렀을때
                    speech.stop();
                    recording = false;
                    console.log('음성인식 중지');
                    // 녹음 중지 아이콘으로 돌려놓기
                    document.getElementById("record").innerHTML = `<svg id = 'micoff' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic-mute" viewBox="0 0 16 16">
                    <path d="M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4.02 4.02 0 0 0 12 8V7a.5.5 0 0 1 1 0v1zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a4.973 4.973 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4zm3-9v4.879l-1-1V3a2 2 0 0 0-3.997-.118l-.845-.845A3.001 3.001 0 0 1 11 3z"/>
                    <path d="m9.486 10.607-.748-.748A2 2 0 0 1 6 8v-.878l-1-1V8a3 3 0 0 0 4.486 2.607zm-7.84-9.253 12 12 .708-.708-12-12-.708.708z"/>
                    </svg>`;
    
                    // 음성인식 결과 출력
                    speech.addEventListener("result", (event) =>{
                        const speechResult = event.results[0][0].transcript;
                        console.log(speechResult);
                        // 음성인식 결과를 채팅 UI에 메세지로 추가
                        // isMe = true (내 발화)
                        addMessage(speechResult, true); 
                        // 2. 음성인식 결과를 대화창에 넣고 싶을 경우
                        // document.querySelector("#message-form [name='message']").value = speechResult;
                        ws.send(JSON.stringify({ type: "user-message", message: speechResult }));
                   
                     });
                }
            });
                         // 에러 처리
            speech.onerror = (event) => {
                stopRecording();  // 녹음 중지
                if (event.error === "no-speech") {
                    alert("No speech was detected. Stopping...");
                } else if (event.error === "audio-capture") {
                    alert( "발견된 마이크가 없습니다.");
                } else if (event.error === "not-allowed") {
                    alert("마이크 사용을 허가해주십시오.");
                } else if (event.error === "aborted") {
                    alert("Listening Stopped.");
                } else {
                    alert("인식 중 에러가 발생했습니다: " + event.error);
                }   
            }; 
            } catch (error) {
                recording = false;
                console.log(error);
            }
        }

        // 대화내역 text파일로 다운로드
    const downloadBtn = document.getElementById("download");
    downloadBtn.addEventListener("click", download);  // 다운로드 함수 호출


})();
</script>
{% endblock %}