// html
<button class="btn btn-danger" id="record">
    <div class="icon">
        <ion-icon name="mic-outline"></ion-icon>
    </div>
</button>


// 마이크 이모티콘 
<script type="module"src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


// 자바스크립트 온로드 부분
// 음성 인식 기능
    // 채팅방 설정 언어로 음성을 인식해서 텍스트로 변환 후
    // 내 채팅으로 추가한다.
     // 🔥record button예쁜 버젼 테스트
    let recording = false;
    const recordBtn = document.getElementById("record");


    if(!("webkitSpeechRecognition" in window)){
        alert("마이크 기능은 크롬 브라우저에서만 지원됩니다.");
    }else{
        try{
            const speech = new webkitSpeechRecognition;
            speech.lang = room_language;  // room_language로 대체

            // start 눌렀을때
            recordBtn.addEventListener("click", () => {
                console.log("음성인식 버튼 눌림"); // 테스트
                if (!recording) {
                    speech.start();
                    console.log('음성인식 시작');
                    recording = true;
                } else {
                // stop 눌렀을때
                    speech.stop();
                    recording = false;
                    console.log('음성인식 중지');
                    // 음성인식 결과 출력
                    speech.addEventListener("result", (event) =>{
                        const speechResult = event.results[0][0].transcript;
                        console.log(speechResult);
                        // 음성인식 결과를 채팅 UI에 메세지로 추가
                        // isMe = true (내 발화)
                        addMessage(speechResult, true); // 화면에 추가
                        // 🔥메세지 서버에 전달
                        ws.send(JSON.stringify({ type: "user-message", message: speechResult }));
                     });
                }
            });
                
            // 에러 처리
            speech.onerror = (event) => {
                stopRecording();  // 녹음 중지

                if (event.error === "no-speech") {
                    alert("No speech was detected. Stopping...");
                } else if (event.error === "audio-capture") {
                    alert(
                    "발견된 마이크가 없습니다."
                    );
                } else if (event.error === "not-allowed") {
                    alert("마이크 사용을 허가해주십시오.");
                } else if (event.error === "aborted") {
                    alert("Listening Stopped.");
                } else {
                    alert("인식 중 에러가 발생했습니다: " + event.error);
                }   
            }; 
            } catch (error) {
                recording = false;
                console.log(error);
            }
        }