<!— html  —>
 <span class="message">${message}</span>
  <span class="say">읽어주기</span>  
  <span class="stopsay">읽기멈춤</span> 

 <select id="voice-list" class="form-select mb-2"></select>   <!— 해당 브라우저 목소리 리스트 —>


<!— 자바스크립트—>
<!— 함수—>
// 읽어주기 함수
function sayMessage(message){
    const voiceListSelect = document.querySelector("#voice-list");
    const option = voiceListSelect.options[voiceListSelect.selectedIndex];
    const voiceName = option.value;

    const voice = window.speechSynthesis.getVoices()
        .find(voice => voice.name === voiceName);

    const utterance = new SpeechSynthesisUtterance(message);

    utterance.voice = voice;
    utterance.lang = voice.lang;
    window.speechSynthesis.speak(utterance);  // 읽어주기
}



<!— onload 부분 —>
  // 읽어주기 기능
    messageElement.querySelector(".say").addEventListener("click", ()=>{
        sayMessage(message); // 함수 호출
    });
    // 읽어주기 stop 기능
    messageElement.querySelector(".stopsay").addEventListener("click", ()=>{
        window.speechSynthesis.cancel();  // 멈춤
    });



 // 페이지 처음 로드 되었을 때 사용 가능한 음성 로드 (voiceschanged 이벤트 기다림)
  // safari에서 안됨
    const synth = window.speechSynthesis;


   synth.onvoiceschanged = () => {
        const voices = synth.getVoices();     // getvoices 메소드 : 현재 브라우저에서 사용 가능한 모든 음성 가져오기

        voices.forEach(({name, lang}) => {
            if (lang.toLowerCase() === room_language.toLowerCase()){
                const option = document.createElement("option");
                option.value = name;
                option.textContent = name;
                option.selected = true;  // 디폴트로 마지막 음성 선택
                document.querySelector("#voice-list").appendChild(option);
            }
        })
    }
