{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base page</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/vocabulary.css' %}" rel="stylesheet" />
    <link href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}" rel="stylesheet" />

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/Scripts.js' %}"></script>
    <script src="{% static 'js/index_search.js' %}"></script>
    <script src="{% static 'js/board_search.js' %}"></script>
    <script src="{% static 'js/vocabulary.js' %}"></script>
    <script src="{% static 'js/vocabulary_list.js' %}"></script>
    <script src="{% static 'js/vocabulary_test.js' %}"></script>
    
    
    {% bootstrap_css %}
    <!-- <style>
        body {
            width: 95%;
            margin: 0 auto;
        }
    </style> -->
</head>
<body id="page-top">

    <div>
        {% include "nvbar.html" %}
    
    <hr>
    <!--알림 메세지창-->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

        {% block content %}
        {% endblock content %}
    </div>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md text-center">
                <small class="d-block mb-3 text-muted">&copy; 2023.번역해조</small>
            </div>
        </div>
    </footer>
</body>
</html>