<nav>
    <ul>

        <li><a href="{% url 'index' %}">Home</a></li>
        <li class="dropdown">
            <a href="#">유저</a>
            <ul class="dropdown-content">
                <li>이름</li>
                <li>학습언어</li>
                <li>레벨</li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">커뮤니티</a>
            <ul class="dropdown-content">
                <li>자유게시판</li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">게임</a>
            <ul class="dropdown-content">
                <li>기본 단어장</li>
                <li>퀴즈/테스트</li>
                <li>플래시카드</li>
            </ul>
        </li>
        <li><a href="#">로그인</a></li>
        <li><a href="#">회원 가입</a></li>

    </ul>
</nav>