{% load django_bootstrap5 %}

<div class="card">
    {% if form_title %}
        <div class="card-header">
            {{ form_title }}
        </div>
    {% endif %}
    <div class="card-body">
        {% if form %}
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                    <button type='submit' class='btn btn-primary'>
                        {{ submit_label|default:"submit" }}
                    </button>
            </form>
        {% else %}
        {% endif %}
        
    </div>
</div>