{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="border-top pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-3">
                {% if user.is_authenticated %}     
                <div class="row pt-5 pb-5">
                    <div class="col-sm-3" style="text-align: center;">
                        {% if user.avatar %}
                            <img src="{{ page_user.avatar.url }}" class="rounded-circle"  style="width: 270px;" />
                        {% else %}
                            <img src="{% url "pydenticon_image" user.username %}"  class="rounded-circle"  style="width: 270px;"/>
                        {% endif %}
                    </div>
                    <div class="col-sm-9" style="text-align: center;"> 
                        <br><br><br><br><br>
                        <h2>
                            {{ page_user.username }}
                            <a href="{% url "profile_edit" %}" class="btn btn-secondary btn-sm">
                                Edit Profile
                            </a>
                        </h2>
                        <br>
                        <h5>
                          <img src="{% static 'image/icon-learning.gif' %}" alt="learning-icon" style="width:48px;height:48px;">
                          {{ d_day }} 일째 열공중
                        </h5>
                    </div>
                </div>
                <table class="table table-hover" style="width:80%; height: 100px; margin: auto; text-align: center;" >
                    <thead class="table-info">
                      <tr>
                        <th scope="col" colspan="2">항목</th>
                        <th scope="col">내용</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% comment %} <tr>
                        <th scope="row" colspan="2">이름(First name)</th>
                        <td>{{ page_user.first_name }}</td>
                      </tr>
                      <tr>
                        <th scope="row" colspan="2">성(Last name)</th>
                        <td>{{ page_user.last_name }}</td>
                      </tr> {% endcomment %}
                      <tr>
                        <th scope="row" colspan="2">학습언어 (language)</th>
                        <td colspan="2">
                            {% if page_user.user_language == "en-US" %} 영어
                            {% elif page_user.user_language == 'ja-JP' %} 일본어
                            {% elif page_user.user_language == 'zh-CN' %} 중국어 
                            {% endif %}
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" colspan="2">학습 평균 점수</th>
                        <td>{{ average_score }}</td>
                      </tr>
                      <tr>
                        <th scope="row" colspan="2">총 학습 단어</th>
                        <td>{{ total_vocab }}</td>
                      </tr>
                      <tr>
                        <th scope="row" colspan="2">현재 레벨</th>
                        <td> {{ user_level }} </td>
                      </tr>
                      <tr>
                        <th scope="row" colspan="2"> Email</th>
                        <td> {{ page_user.email }}</td>
                      </tr>
                      <tr>
                        <th scope="row" colspan="2" >개인 웹사이트(wesite)</th>
                        <td> <a href="{{ page_user.website_url }}" class="card-link" style="color: black; text-decoration : none;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                            <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                          </svg>
                        </a></td>
                      </tr>
                    

                    </tbody>
                  </table>
                {% else %}
                <h2>로그인 후 이용하세요</h2>
                {% endif %}
            </div>
        </div>
    </div>
</div>
    
{% endblock %}