{% extends "base.html" %}

{% block content %}
<div class="border-top pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-3">
                <div class="row pt-5 pb-5">
                    <div class="col-sm-3" style="text-align: center;">
                    {% if user.avatar %}
                        <img src="{{ page_user.avatar.url }}" class="rounded-circle"  style="width: 160px;" />
                    {% else %}
                        <img src="{% url "pydenticon_image" user.username %}"  class="rounded-circle"  style="width: 200px;"/>
                    {% endif %}
                    </div>
                    <div class="col-sm-9" style="text-align: center;">
                        {{ page_user.username }} 
                        <a href="{% url "profile_edit" %}" class="btn btn-secondary btn-sm">
                            Edit Profile
                        </a>
                    </div>
                </div>

                <div class="card" style="width: 30rem;">
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">이름 {{ page_user.first_name }}</li>
                    <li class="list-group-item">성 {{ page_user.last_name }}</li>
                    <li class="list-group-item">학습 언어 {{ page_user.user_language }}
                        {% comment %}
                        {{ if page_user.user_language === "en-US" }} 영어
                         {{ else if page_user.user_language == 'ja-JP' }} 일본어
                        {{ else if page_user.user_language == 'zh-CN' }} 중국어
                        {{ endif }}
                         {% endcomment %}
                    </li>
                    <li class="list-group-item">학습 레벨 {{ page_user.user_level }}</li>
                    <li class="list-group-item">이메일 {{ page_user.email }}</li>
                    <a href="{{ page_user.website_url }}" class="card-link">user link</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}