{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<br><br>
<div class ='container-xl'>
    <div class="row pt-4">
        <div class="col-md-11 col-lg-8 col-xl-7 col-xxl-6 mx-auto">
            <form method="post" style="padding: 10px; border: 1px solid #ddd; background-color: #f2f2f2;">
                {% csrf_token %}
                <div class="card-header">
                    <h2>게시판 수정</h2>
                </div>
                <br>
                <div class="card-body">{% bootstrap_form form layout="horizontal" %}</div>
                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-primary">수정</button>
                </div> 
            </form>
        </div>
    </div>
</div>
{% endblock content %}