{% extends 'base.html' %}

{% block content %}
<div class ='container'>
    <div class="row py-4">
        <div class="col-md-8 mx-auto">
            <h3>스피드 단어 게임을 위한 방을 만드세요.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="input-group">
                <input type="text" id="room-name-input" class="form-control" placeholder="방 이름 입력">
                <button class="btn btn-primary" type="button" id="room-name-submit">입장하기</button>
            </div>
        </div>
    </div>
</div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/speedgame/' + roomName + '/';
        };
    </script>

{% endblock content %}