{% extends 'base.html' %}

{% block content %}

<div class ='container'>
    <div class="row pt-4">
        <div class="col-md-6 mx-auto text-center bg-info">
            <h4>--커뮤니티 실시간 채팅방--</h4>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-8 mx-auto">
            <textarea id="speedgame-log" style="width: 100%; height: 400px;"></textarea>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-8 mx-auto">
            <div class="input-group">
                <input id="speedgame-message-input" type="text" class="form-control">
                <button id="speedgame-message-submit" type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
    {{ room_name|json_script:"room-name" }}
    <script>

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const speedgameSocket = new WebSocket(
            'ws://'+ window.location.host + '/ws/speedgame/'+ roomName + '/');

        speedgameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#speedgame-log').value += (data.message + '\n');
        };

        speedgameSocket.onclose = function(e) {
            console.error('Speedgame socket closed unexpectedly');
        };

        document.querySelector('#speedgame-message-input').focus();
        document.querySelector('#speedgame-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#speedgame-message-submit').click();
            }
        };

        document.querySelector('#speedgame-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#speedgame-message-input');
            const message = messageInputDom.value;
            speedgameSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };

    </script>

{% endblock content %}