{% extends 'base.html' %}

{% block content %}

<textarea id="speedgame-log" cols="100" rows="20"></textarea><br>
    <input id="speedgame-message-input" type="text" size="100"><br>
    <input id="speedgame-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const speedgameSocket = new WebSocket(
            'ws://'+ window.location.host + '/ws/speedgame/'+ roomName + '/');

        speedgameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#speedgame-log').value += (data.message + '\n');
        };

        speedgameSocket.onclose = function(e) {
            console.error('Speedgame socket closed unexpectedly');
        };

        document.querySelector('#speedgame-message-input').focus();
        document.querySelector('#speedgame-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#speedgame-message-submit').click();
            }
        };

        document.querySelector('#speedgame-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#speedgame-message-input');
            const message = messageInputDom.value;
            speedgameSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };

    </script>

{% endblock content %}