{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Drag &amp; Drop</title>
        <style>
         
        </style>
        <link rel="stylesheet" href="{% static '/css/drag_drop.css' %}">
        <script src="{% static '/js/jquery-3.7.1.min.js' %}"></script>
        <script src="{% static '/js/drag_drop.js' %}"></script>

        <script src="https://unpkg.com/interactjs/dist/interact.min.js"></script>
    </head>
    <body>
        
    <div>
        <h1>Drag &amp; Drop</h1>
        <div class="draggable itemA">{{ vocabs.0.game_vocab }}</div>
        <div class="draggable itemB">{{ vocabs.1.game_vocab }}</div>
        <div class="draggable itemC">{{ vocabs.2.game_vocab }}</div>
        <div class="draggable itemD">{{ vocabs.3.game_vocab }}</div>
        <div class="draggable itemE">{{ vocabs.4.game_vocab }}</div>
        <div class="draggable itemF">{{ vocabs.5.game_vocab }}</div>
        <div class="draggable itemG">{{ vocabs.6.game_vocab }}</div>
        <div class="draggable itemH">{{ vocabs.7.game_vocab }}</div>

        
        {% if vocabs.1.game_stage == 1 %}
        <div class="container">
            <div id="dropzoneA" class="interact dropzone"><img src="{% static "/image/stage(1)/game(1).png" %}" alt=""/></div>
            <div id="dropzoneB" class="interact dropzone"><img src="{% static "/image/stage(1)/game(2).png" %}" alt=""/></div>
            <div id="dropzoneC" class="interact dropzone"><img src="{% static "/image/stage(1)/game(3).png" %}" alt=""/></div>
            <div id="dropzoneD" class="interact dropzone"><img src="{% static "/image/stage(1)/game(4).png" %}" alt=""/></div>
        </div><br>
        <div class="container">
            <div id="dropzoneE" class="interact dropzone"><img src="{% static "/image/stage(1)/game(5).png" %}" alt=""/></div>
            <div id="dropzoneF" class="interact dropzone"><img src="{% static "/image/stage(1)/game(6).png" %}" alt=""/></div>
            <div id="dropzoneG" class="interact dropzone"><img src="{% static "/image/stage(1)/game(7).png" %}" alt=""/></div>
            <div id="dropzoneH" class="interact dropzone"><img src="{% static "/image/stage(1)/game(8).png" %}" alt=""/></div>
        </div>
        {% elif vocabs.1.game_stage == 2 %}
        <div class="container">
            <div id="dropzoneA" class="interact dropzone"><img src="{% static "/image/stage(2)/game(1).png" %}" alt=""/></div>
            <div id="dropzoneB" class="interact dropzone"><img src="{% static "/image/stage(2)/game(2).png" %}" alt=""/></div>
            <div id="dropzoneC" class="interact dropzone"><img src="{% static "/image/stage(2)/game(3).png" %}" alt=""/></div>
            <div id="dropzoneD" class="interact dropzone"><img src="{% static "/image/stage(2)/game(4).png" %}" alt=""/></div>
        </div><br>
        <div class="container">
            <div id="dropzoneE" class="interact dropzone"><img src="{% static "/image/stage(2)/game(5).png" %}" alt=""/></div>
            <div id="dropzoneF" class="interact dropzone"><img src="{% static "/image/stage(2)/game(6).png" %}" alt=""/></div>
            <div id="dropzoneG" class="interact dropzone"><img src="{% static "/image/stage(2)/game(7).png" %}" alt=""/></div>
            <div id="dropzoneH" class="interact dropzone"><img src="{% static "/image/stage(2)/game(8).png" %}" alt=""/></div>
        </div>
        {% elif vocabs.1.game_stage == 3 %}

        <div class="container">
            <div id="dropzoneA" class="interact dropzone"><img src="{% static "/image/stage(3)/game(1).png" %}" alt=""/></div>
            <div id="dropzoneB" class="interact dropzone"><img src="{% static "/image/stage(3)/game(2).png" %}" alt=""/></div>
            <div id="dropzoneC" class="interact dropzone"><img src="{% static "/image/stage(3)/game(3).png" %}" alt=""/></div>
            <div id="dropzoneD" class="interact dropzone"><img src="{% static "/image/stage(3)/game(4).png" %}" alt=""/></div>
        </div><br>
        <div class="container">
            <div id="dropzoneE" class="interact dropzone"><img src="{% static "/image/stage(3)/game(5).png" %}" alt=""/></div>
            <div id="dropzoneF" class="interact dropzone"><img src="{% static "/image/stage(3)/game(6).png" %}" alt=""/></div>
            <div id="dropzoneG" class="interact dropzone"><img src="{% static "/image/stage(3)/game(7).png" %}" alt=""/></div>
            <div id="dropzoneH" class="interact dropzone"><img src="{% static "/image/stage(3)/game(8).png" %}" alt=""/></div>
        </div>
        {% endif %}
    </div>
    

    {% comment %} <a href="{% url 'drag_drop' pk=1 lang=1 %}"> 영어1단계</a> {% endcomment %}
    {% comment %} <a href="{% url 'drag_drop' pk=2 lang=1 %}"> 영어2단계</a>
    <a href="{% url 'drag_drop' pk=1 lang=2 %}"> 중국어1단계</a> {% endcomment %}
    
    </body>
</html>